.TH-GameTitle{
  margin: 0 0 30px 0;
  height: 30vh;
  text-align: center;
  border-bottom: 5px solid black;
  background-image: url("https://media.vanityfair.com/photos/583c7d06364154776b0bae34/master/pass/a-christmas-story-movie-ss05.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
.TH-TreasureHunt {
  font-size: 10vh;
  font-family: 'Bungee', cursive;
  color: #be2227;
  text-shadow: 4px 4px 4px black;
  line-height: 15vh;
}
.TH-TreasureHunt > p {margin: 0}
.TH-Find {
  font-size: 75px;
  font-family: 'Bungee', cursive;
}

.TH-Message {
  margin-bottom: 30px!important;
  font-family: 'Bungee', cursive;
}

.TH-Game{
  width:500px;
  text-align: center;
  user-select: none;
}

.TH-Tiles{
  width: 150px;
  height: 150px;
  border:5px solid #be2227;
  display:inline-block;
  line-height: 80px;
  font-size: 100px;
  text-align: center;
  line-height: 150px;
  background-color: #2b5116;
}

.TH-ResetButton {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.TH-BoardComp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TH-btn {
  margin: 0 0 40px 0!important;
  background-color: #be2227!important;
}

.TH-btn > span > h4 {
  margin: 0!important;
}
