* {
  box-sizing: border-box;
}

body, p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

span, a, h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

nav > div > .brand-logo {
  color: #ffae1a;
  font-size: 1.75rem;
  font-weight: 900;
}
nav > div > ul > li > a {
  color: #ffae1a!important;
  font-weight: 900;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(0,0,0,.07)!important;
}

@media (max-width: 900px) {
  /* skills */
  .Home-masonryHome-3 {
    max-height: none!important;
    margin-left: 3rem!important;
  }

  .Home-masonryCont-2 {
    margin-left: 0!important;
  }

  .Home-masonryBrickLeft-4 {
    margin: 0 0 3rem 0!important;
  }
  /* cards */
  .CardGrid-root-154 {
    grid-template-columns: repeat(2, 20rem)!important;
  }

}

@media (max-width: 700px) {
  /* cards */
  .CardGrid-root-154 {
    grid-template-columns: repeat(1, 20rem)!important;
  }

}
