* {
  box-sizing: border-box;
}

body, p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

span, a, h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

nav > div > .brand-logo {
  color: #ffae1a;
  font-size: 1.75rem;
  font-weight: 900;
}
nav > div > ul > li > a {
  color: #ffae1a!important;
  font-weight: 900;
}

a.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}
